appdirs==1.4.4
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
distlib==0.3.0
filelock==3.0.12
Flask==1.1.2
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.14.1
MarkupSafe==1.1.1
nltk==3.5
gunicorn==20.0.4
numpy==1.18.4
pandas==1.0.3
python-dateutil==2.8.1
pytz==2020.1
rake_nltk==1.0.4
regex==2020.5.7
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
tqdm==4.46.0
omdb==0.10.1
urllib3==1.25.9
virtualenv==20.0.20
Werkzeug==1.0.1
